<nav class="indigo darken-1">
  <div class="nav  z-depth-1">
    <a href="#!" class="brand-ldogo"> Sekolah ABC </a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li> <a href="beritasekolah.html"> Data Guru </a> </li>
      <li> <a href="beritasekolah.html"> Data Karyawan </a> </li>
      <li> <a href="beritasekolah.html"> Data Siswa </a> </li>
      <li> <a href="beritasekolah.html"> Logn Out</a> <i class="material-icons">lock_open</i> </li>

    </ul>
  </div>
</nav>
